# Ignora os dados gerados na pasta de saídas
saida/
metrics/output

# Python cache
__pycache__/
*.pyc
*.pyo

# Ambiente virtual
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db
.Identifier